body,html{
	height: 100%
}

.bg { 
  background-image: url("img/coba.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 { 
  background-image: url("img/move.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 { 
  background-image: url("img/moveview.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colour {
	background-color: rgba(255,255,255,0.6);
}